* {
    padding:0;
    margin: 0;
}
 body {
    background-color: gray;
    font-family: roboto;
 }

.hero {
    margin: 14px 16px;
    height: 600px;
    width: 100%;
 }

.navbar ul li {
    display: inline-block;
    width: 100px;
    list-style: none;
    text-decoration: none;
}

p {
    color: blue;
    text-align: center;
}